In [42]:
import pandas as pd
import numpy as np
import dtale
from matplotlib import pyplot as plt
import seaborn as sns

from geopy.geocoders import Nominatim

import warnings
warnings.filterwarnings('ignore')

from IPython.display import IFrame

In [2]:
df_apr = pd.read_csv('Uber-dataset\\uber-raw-data-apr14.csv').rename(columns={"Date/Time": "Date_Time"})
df_may = pd.read_csv('Uber-dataset\\uber-raw-data-may14.csv').rename(columns={"Date/Time": "Date_Time"})
df_jun = pd.read_csv('Uber-dataset\\uber-raw-data-jun14.csv').rename(columns={"Date/Time": "Date_Time"})
df_jul = pd.read_csv('Uber-dataset\\uber-raw-data-jul14.csv').rename(columns={"Date/Time": "Date_Time"})
df_aug = pd.read_csv('Uber-dataset\\uber-raw-data-aug14.csv').rename(columns={"Date/Time": "Date_Time"})

In [3]:
df_apr['Date_Time']= pd.to_datetime(df_apr['Date_Time'])
df_may['Date_Time']= pd.to_datetime(df_may['Date_Time'])
df_jun['Date_Time']= pd.to_datetime(df_jun['Date_Time'])
df_jul['Date_Time']= pd.to_datetime(df_jul['Date_Time'])
df_aug['Date_Time']= pd.to_datetime(df_aug['Date_Time'])

In [4]:
df_aug.head()

            Date_Time      Lat      Lon    Base
0 2014-08-01 00:03:00  40.7366 -73.9906  B02512
1 2014-08-01 00:09:00  40.7260 -73.9918  B02512
2 2014-08-01 00:12:00  40.7209 -74.0507  B02512
3 2014-08-01 00:12:00  40.7387 -73.9856  B02512
4 2014-08-01 00:12:00  40.7323 -74.0077  B02512

In [5]:
df_aug.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829275 entries, 0 to 829274
Data columns (total 4 columns):
Date_Time    829275 non-null datetime64[ns]
Lat          829275 non-null float64
Lon          829275 non-null float64
Base         829275 non-null object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 25.3+ MB

In [6]:
df_aug['Base'].value_counts()

B02617    355803
B02598    220129
B02682    173280
B02764     48591
B02512     31472
Name: Base, dtype: int64

In [7]:
frames = [df_apr, df_may, df_jun, df_jul, df_aug]
merged_df = pd.concat(frames)

In [8]:
merged_df.shape

(3506191, 4)

In [9]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3506191 entries, 0 to 829274
Data columns (total 4 columns):
Date_Time    datetime64[ns]
Lat          float64
Lon          float64
Base         object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 133.8+ MB

In [10]:
d = dtale.show(merged_df)

In [56]:
# d

## Trips by Hour

In [33]:
IFrame(src='graph1.html', width=1000, height=600)

## Trips by Week

In [37]:
IFrame(src='graph3.html', width=750, height=500)

## Trips by Month

In [40]:
IFrame(src='graph6.html', width=1000, height=600)

## Trips by Hour and Month

In [34]:
IFrame(src='graph2.html', width=1000, height=600)

## Trips by Week and Month

In [38]:
IFrame(src='graph4.html', width=1000, height=600)

In [41]:
IFrame(src='graph5.html', width=1000, height=600)

## Trips by Bases

In [44]:
IFrame(src='graph7.html', width=750, height=500)

## Trips by Bases and Months

In [47]:
IFrame(src='graph8.html', width=1000, height=600)

## Trips by Bases and Weeks

In [46]:
IFrame(src='graph9.html', width=1000, height=600)

## Heatmap Trip by Hourly and Weekly

In [49]:
IFrame(src='graph10.html', width=1000, height=600)

## Heatmap Trip by Hourly and Monthly

In [54]:
IFrame(src='graph11.html', width=750, height=550)